/* Try different box model properties below */
.pages__page {
  border: 2px solid #4491db;
  border-radius: 5px;
  background: #fff;
  padding: 4px 10px;
  width: auto;
}
* {
  border: 1px solid red;
}
.countries {
  width: 20rem;
  width: auto;
}
.country {
  margin: 2px 0;
}
.pages {
  height: 2.3rem;
}
.pages__showing {
  padding: 7px;
}
